<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MVPDeveloper</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.465383489247-ggqkg1pc6e64r3k67teqdfjmpdiffq15</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>MVP Workout Need camera to upload profile and body images</string>
	<key>NSContactsUsageDescription</key>
	<string>MVP Need to access to your contact to share your workout progress</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>Read and understand clinical health data to show your health analysis</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Read and understand clinical health data to show your health analysis</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Read and understand clinical health data to show your health analysis</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>MVP need to you show you the best deals in your area</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>YOUR-PURPOSE-KEY</key>
		<string>MVP need to you show you the best deals in your area</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MVP need to you show you the best deals in your area</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>MVP Workout Need camera to upload profile and body images</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>MVP Workout Need camera to upload profile and body images</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>MVP Workout Need camera to upload profile and body images</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>AnekBangla-Bold.ttf</string>
		<string>AnekBangla-Light.ttf</string>
		<string>AnekBangla-Medium.ttf</string>
		<string>AnekBangla-Regular.ttf</string>
		<string>AnekBangla-SemiBold.ttf</string>
		<string>DMSans-Black.ttf</string>
		<string>DMSans-Bold.ttf</string>
		<string>DMSans-ExtraBold.ttf</string>
		<string>DMSans-Light.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-SemiBold.ttf</string>
		<string>Modak-Regular.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>AnekBangla-Thin.ttf</string>
		<string>DMSans-Thin.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Poppins-Black.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
